html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#nodes-container {
    height: 100%;
    width: 400px;
    min-width: 400px;
}

#dynmap-container {
    flex-grow: 420;
    border: none;
    position: relative;
}

.leaflet-nodes-pane {
    z-index: 500;
}

#nodes-world {
    z-index: 500;
}

#port-tooltip-container {
    position: fixed;
}

#port-tooltip {
    position: fixed;
    z-index: 10001;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px;
    min-width: 200px;
}


#port-tooltip div {
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

#port-tooltip b {
    font-weight: bold;
}